body {
  padding: 30px; /* give website padding */
  background-color: #bae7ff; /* set background color to light blue */
}

h1, h2 {
  font-family: 'Sriracha'; /* set h1 and h2 fonts to Sriracha */
}

.answer-button {
  margin-top: 5px;
}
